.container {
	padding: 0;
	margin: 0;
	width: 100%;
	max-width: 100%;
}

pre {
	white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.bottom-menu {
	position: fixed;
	margin-bottom: 0.5em;
	bottom: 1px;
	border: none !important;
	text-align: center;
	width: 100%;
}

.hide {
	display: none !important;
}

.title {
	padding: 10px 0;
	width: 100%;
	background: #59cac2; 
	text-align: center;
	font-weight: bold;
    font-size: 1.3em;
}

.col-3 {
	width: 25%;
}

.col-9 {
	width: 74%;
}

.col-12 {
	width: 100%;
}

.col-xs-4, .col-xs-8 {
	padding-left: 0;
	padding-right: 0;
}

.row {
	max-width: 100%;
	margin: 0;
}

.row.spacer {
	height: 12px;
	background-color: #eee;	
}

.row.bottom-spacer {
	border: none; 
	height: 50px;
	width: 100%;
}

.form-control {
	border: none;
	padding: 0.5rem 0;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.title-pull-left {
	position: absolute;
	top: 5px;
	left: 0;
	font-weight: bold;
	font-size: 1.2em;
}

.title-pull-left:hover {
	text-decoration: none;
}

.title-pull-right {
	position: absolute;
	top: 5px;
	right: 0;
	font-weight: bold;
}

.pull-right {
	position: relative;
	float: right;
	right: 5px;
}

.avatar-sm {
	width: 100px; 
	height: 100px;
	border-radius: 50%;
}

.align-center {
	text-align: center;
}

.nav-spaer {
	display: block;
	height: 4em;
	line-height: 4em;
}
.bottom-nav {
	position: fixed;
	bottom: 0;
	width: 100%;
    background-color: #00b38a;
}

.bottom-nav > a {
	display: inline-block;
	width: 49%;
    line-height: 3em;
	text-align: center;
	color: #0b429e;
	font-size: 1.2em;
}

.bottom-nav > .active {
	color: white;
}

// select.form-control, 
// input[type='text'].form-control,
// input[type='date'].form-control,
// textarea.form-control {
// 	padding-left: 20px;
// }

select {
	text-align: right;
}

.btn-closed {
	background-color: #ccc;
	font-style: normal;
    border-radius: 15px;
    font-size: 0.5em;
    line-height: 0.8em;
    color: #666;
}

.star-empty {
	width: 20px;
	height: 20px;
	background-image: url('/assets/img/star-small.png');
	background-position: 0 -60px;
}

.star {
	width: 20px;
	height: 20px;
	background-image: url('/assets/img/star-small.png');
	background-position: 0 -40px;	
}

.alert-danger {
	background-color: rgba(0,0,0,0.5) !important;
	color: #fff !important;
}

input.input-error {
	border: 1px solid rgba(255,0,0,0.5);
}

p.input-error {
	color: red;
	padding-left: 20px;
}

.col-form-label {
	min-width: 120px;
}

textarea.form-control {
	background-color: rgba(238, 238, 238, 0.5);
}

.icon-large {
	font-size: 1.2em;
}

i.icon-star,
i.icon-star-empty {
	color: rgba(255,0,0,0.5);
}

div.alert {
	width: 50%;
}


a:hover {
	text-decoration: none;
}

hr.line {
	height: 1px;
    width: 100%;
    margin-top: 0;
    margin-bottom: 5px;
}