
.jobs {
	margin-top: 10px;
}

.job {
	position: relative;
    margin: 0 15px;
    padding: 15px;
    border-top: 1px solid #eee;
}

.company-logo {
	position: absolute;
	float: left;
	margin-top: 10px;
}

.company-logo > img {
	width: 4.5em;
	height: 4.5em;
}

.job-info {
	position: relative;
	margin-left: 4.5em;
    float: left;
    margin-top: 0;
}

.job-info > .company {
	color: #333;
	font-size: 1em;
	font-weight: bold;
}

.job-info > .job-detail {
	font-size: 0.8em;
	color: #666;
}

.job-info > .job-time {
	font-size: 0.6em;
	color: #bbb;
}

.pull-right {
	right: 15px;
}
