
.jobs {
	margin-top: 10px;
}

.job {
    margin: 0 15px;
    padding: 15px;
    border-top: 1px solid #eee;
}

.company-logo {
	float: left;
}

.company-logo > img {
	width: 4.5em;
	height: 4.5em;
}

.job-info {
	position: relative;
    float: left;
}

.job-info > .company {
	color: #333;
	font-size: 1em;
	font-weight: bold;
}

.job-info > .job-detail {
	font-size: 0.8em;
	color: #666;
}

.job-info > .job-time {
	font-size: 0.6em;
	color: #bbb;
}
