<div class="nav-spaer">
&nbsp;
</div>
<div class="bottom-nav">
	<a href="/index" class="{% if active|default('none') == 'index' %}active{% endif %}">首页</a>
	{# <a href="/search" class="">搜索</a> #}
	<a href="/my" class="{% if active|default('none') == 'my' %}active{% endif %}">我的</a>
</div>