{% extends 'frontend/front-layout.html.twig' %}
{% block sub_css_block %}
<link rel="stylesheet" type="text/css" href="/assets/css/base.css?ver={{ver|default(1)}}">
<link rel="stylesheet" type="text/css" href="/assets/css/my.css?ver={{ver|default(1)}}">
{% endblock %}

{% block sub_js_block %}
{% endblock %}

{% block body %}
<div class="container">
	<div class="row">
		<span class="title">我的</span>
	</div>
	<div class="row align-center" style="display: block; margin-top: 20px;">
		<img src="{{user.avatar}}" class="avatar">
		<div class="nickname">{{user.nickname}}</div>
	</div>
	<div class="row user-nav">
		<ul>
			<li>
				<a href="/resume/index">
					<span>我的简历</span>
					<span class="pull-right">></span>
				</a>
			</li>
			<li>
				<a href="/job/favorites">
					<span>我的收藏</span>
					<span class="pull-right">></span>
				</a>
			</li>
			<li>
				<a href="/switch/recruiter">
					<span>切换为招聘者身份</span>
					<span class="pull-right">></span>
				</a>
			</li>
		</ul>
	</div>
	{% include 'frontend/bottom-nav.html.twig' with {active: 'my'} %}
</div>
{% endblock %}