{% extends 'layout.html.twig' %}

{% block body %}

  {% if global.user %}
    您好，{{ global.user.username }} ! [<a href="{{ path('logout') }}">退出</a>]
  {% else %}
    <a href="{{ path('login') }}">登陆</a>
  {% endif %}

{% endblock %}