{% set ver= random(100000000) %}
<!DOCTYPE html>
<html lang="zh_CN" class="">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}内推来了{% endblock %}</title>
  {% block css_block %}{% endblock %}
</head>

<body>
  {% block body %} {% endblock %}
  {% block js_block %}{% endblock %}
</body>
</html>