{% extends 'frontend/page-layout.html.twig' %}
{% block sub_css_block %}
<link rel="stylesheet" type="text/css" href="/assets/css/base.css">
<link rel="stylesheet" type="text/css" href="/assets/css/job/job.css">
{% endblock %}

{% block sub_js_block %}
<script type="text/javascript" src="/assets/js/job/list.js"></script>
{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		{% include 'frontend/go-back-btn.html.twig' %}
		<span class="title">已发布的职位</span>
	</div>
	
	{% for job in jobList %}
		{% if job.status == '关闭' %}
			<a href="javascript:;" class="post-item col-xs-12" style="color: #999;" data-detail-url="/job/view/{{job.id}}?admin=1">
			<span>{{job.title|default('')}}</span>
			<span class="pull-right"><i class="btn btn-sm btn-closed">已关闭</i> > </span>
			</a>
		{% else %}
			<a href="javascript:;" class="post-item col-xs-12" data-detail-url="/job/view/{{job.id}}?admin=1">
				<span>{{job.title|default('')}}</span>
				<span class="pull-right"> > </span>
			</a>
		{% endif %}
	{% endfor %}
	<div class="row bottom-spacer">&nbsp;</div>
	<div class="bottom-menu">
		<span class="col-xs-1"></span>
		<button class="btn btn-secondary btn-mini col-xs-10 js-btn-new-post">发布新职位</button>
	</div>
</div>
{% endblock %}