{% extends 'frontend/page-layout.html.twig' %}
{% block sub_css_block %}
<link rel="stylesheet" type="text/css" href="/assets/css/base.css">
<link rel="stylesheet" type="text/css" href="/assets/css/resume/edit.css">
{% endblock %}

{% block sub_js_block %}
<script type="text/javascript" src="/assets/js/resume/edit-edu.js"></script>
{% endblock %}

{% block content %}
<div class="container">
	<form id="resume-form" action="/resume/edit/edu" method="post">
		<div class="row form-title">
			<span class="title">编辑教育经历</span>
			<a href="javascript:;" class="btn btn-link title-pull-right head-menu js-btn-edit">保存</a>
		</div>
		<div class="row form-group">
			<label class="col-xs-4">毕业院校：</label>
			<div class="col-xs-8">
				<input type="hidden" name="part" value="edu">
				<input class="form-control" type="text" name="school_name" value="{{edu.school_name|default('')}}"/>
			</div>
		</div>
		<div class="row form-group">
			<label class="col-xs-4">专业：</label>
			<div class="col-xs-8">
				<input class="form-control" type="text" name="major_name" value="{{edu.major_name|default('')}}"/>
			</div>
		</div>
		<div class="row form-group">
			<label class="col-xs-4">入学时间：</label>
			<div class="col-xs-8">
				<input class="form-control" type="month" min="1970-01" max="2016-12" name="start_date" value="{{month(edu.start_date|default(''), 'Y-m')}}"/>
			</div>
		</div>
		<div class="row form-group">
			<label class="col-xs-4">毕业时间：</label>
			<div class="col-xs-8">
				<input class="form-control" type="month" min="1970-01" max="2016-12" name="end_date" value="{{month(edu.end_date|default(''), 'Y-m')}}"/>
			</div>
		</div>
		<div class="row form-group">
			<label class="col-xs-4">学历：</label>
			<div class="col-xs-8">
				<select class="form-control col-xs-12" name="edu_level">
					<option value="高中" {% if edu.edu_level|default('') == '高中' %}selected{% endif %}>高中</option>
					<option value="专科" {% if edu.edu_level|default('') == '专科' %}selected{% endif %}>专科</option>
					<option value="本科" {% if edu.edu_level|default('') == '本科' %}selected{% endif %}>本科</option>
					<option value="硕士" {% if edu.edu_level|default('') == '硕士' %}selected{% endif %}>硕士</option>
					<option value="博士" {% if edu.edu_level|default('') == '博士' %}selected{% endif %}>博士</option>
				</select>
			</div>
		</div>
		<div class="row bottom-spacer"></div>
		<div class="bottom-menu">
			<button type="button" class="btn btn-mini btn-primary col-xs-12 js-btn-delete">删除此教育经历</button>
		</div>
	</form>
</div>

{% endblock %}