.row, input {
	// border: 1px solid #eee !important;
	border-bottom: 1px solid #eee;
}

.form-group {
	padding: 5px 15px;
}

.form-group > label {
	padding-top: 5px;
}

.form-control {
	padding-top: 0.5em;
}

.radio-label {
	width: auto;
	padding: 0 10px;
}

