body {
	font-size: 14px;
}
.container {
	background-color: #eee;
}

.row {
	padding-left: 15px;
	padding-right: 15px; 
	background-color: white;
}
.row + div.row {
	margin-top: 15px;
}


.basic > div {
	float: left;
	display: inline-block;
}

.basic > .col-3 {
	height: 100px;
}

.basic-header {
	padding-bottom: 15px !important;
	border-bottom: 1px solid #eee;
}

.avatar-wraper {
	position: absolute; 
	float:left; 
	margin-bottom: 15px;
}

.preview-avatar {
	margin: 15px;
	border-radius: 50%;
	width: 4.5em;
	height: 4.5em;
}

.basic-text {
	position: relative; 
	margin-left: 6.5em; 
	float:left; 
	margin-top: 15px; 
	width: 80%;
}

.nickname {
	font-weight: bold;
	color: #22c5b3;
}

.age {
	font-size: 0.7em;
}

.gender {
	font-size: 0.8em;
	font-weight: bold;
	color: red;
}

.weight {
	font-weight: bold;
}

.light {
	font-size: 0.7em;
	color: #999;
}

.column-header {
	padding: 5px 0;
	border-bottom: 1px solid #eee;
    width: 100%;
    font-weight: bold;
    font-size: 1.1em;
    color: #0ea25b;
}

.pull-right {
	position: relative;
	float: right;
	right: 15px;
}

pre {
	margin-right: 15px;
}

.unfilled {
	margin: 5px;
	font-style: italic;
	color: #bbb;
}

.edu-item > span {
	display: block;
	width: 100%;
}

.row > div {
	padding: 5px 15px;
}
