body {
	font-size: 12px;
}
.container {
	background-color: #eee;
}

.row {
	padding-left: 15px;
	padding-right: 15px; 
	background-color: white;
}
.row + div.row {
	margin-top: 15px;
}


.col-3 {
	width: 25%;
}

.col-9 {
	width: 74%;
}

.col-12 {
	width: 100%;
}


.basic > div {
	float: left;
	display: inline-block;
}

.basic > .col-3 {
	height: 100px;
}

.preview-avatar {
	margin: 15px;
	border-radius: 50%;
	width: 100px;
	height: 100px;
}


.nickname {
	font-weight: bold;
	color: #22c5b3;
}

.age {
	font-size: 0.7em;
}

.weight {
	font-weight: bold;
}

.light {
	font-size: 0.7em;
	color: #999;
}

.column-header {
	padding: 5px 0;
    width: 100%;
    font-weight: bold;
    font-size: 1.1em;
    color: #0ea25b;
}

.pull-right {
	position: relative;
	float: right;
	right: 15px;
}

pre {
	text-indent: 2em;
	margin-right: 15px;
}

.unfilled {
	margin: 5px;
	font-style: italic;
	color: #bbb;
}
