body {
	font-size: 12px;
}
.container {
	background-color: #eee;
	margin: 5px;
}
.row {
	margin-top: 15px;
	background-color: white;
}
.col-3 {
	width: 25%;
	height: auto;
}

.col-9 {
	width: 74%;
}

.col-12 {
	width: 100%;
}


.basic > div {
	float: left;
	display: inline-block;
	height: 25px;
}

.basic > .col-3 {
	height: 100px;
}

.preview-avatar {
	float:left;
	width: 100px;
	height: 100px;
}


.nickname {
	font-weight: bold;
	color: #22c5b3;
}

.age {
	font-size: 0.7em;
}

.weight {
	font-weight: bold;
}

.light {
	font-size: 0.7em;
	color: #999;
}

.column-header {
    width: 100%;
    font-weight: bold;
    font-size: 1.1em;
    color: #0ea25b;
}